<header>
    <nav>
        <ul class="nav-list">
            <li><a href="/#inicio" class="nav-link">INICIO</a></li>
            <li><a href="/#plantas" class="nav-link">PLANTAS</a></li>
            <li class="nav-logo">
                <a href="/">MisPlantas</a>
            </li>
            <li>
                <a href="/#contacto" class="nav-link">CONTACTO</a>
            </li>
        </ul>
    </nav>
</header>
